<!-- About Section -->
    <section id="modulos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Qué aprenderás?</h2>
                    <h3 class="section-subheading text-muted">Descripción de cada módulo.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Módulo 1</h4>
                                    <h4 class="subheading">Las hojas de cálculo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p><strong>Organiza</strong> tu información para facilitar su consulta y manejo.</p>
                                    <p><em>Duración: 2 horas</em></p>
                                    <br>
                                    <p class="text-muted">Organización de información tabular</p>
                                    <p class="text-muted">Uso apropiado de columnas y renglones</p>
                                    <p class="text-muted">Desplazamiento a través de conjuntos de datos</p>
                                    <p class="text-muted">Importar contenido externo</p>
                                    <p class="text-muted">Formatear los datos</p>
                                    <p class="text-muted">Distribución de la información en hojas</p>
                                    <p class="text-muted">Uso de filtros</p>
                                    <p class="text-muted">Validación de datos</p>
                                    <p class="text-muted">Concatenar</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Módulo 2</h4>
                                    <h4 class="subheading">Hola fórmulas y funciones</h4>
                                </div>
                                <div class="timeline-body">
                                    <p><strong>Crea</strong> listas inteligentes para reducir las horas de trabajo y realizar cálculos automáticos  (sumas, promedios, proporciones).</p>
                                    <p><em>Duración: 3 horas</em></p>
                                    <br>
                                    <p class="text-muted">Orden de operaciones</p>
                                    <p class="text-muted">Estructura de las funciones</p>
                                    <p class="text-muted">Referencias</p>
                                    <p class="text-muted">SUMA, SUMAR.SI</p>
                                    <p class="text-muted">CONTAR, CONTARA, CONTAR.SI</p>
                                    <p class="text-muted">Regla de tres</p>
                                    <p class="text-muted">BUSCARV</p>
                                    <p class="text-muted">Formato condicional</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Módulo 3</h4>
                                    <h4 class="subheading">Sé un as de las videollamadas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><strong>Administra</strong> grupos en videollamadas y compartir cualquier recurso con seguridad.</p>
                                    <p><em>Duración: 2 horas</em></p>
                                    <br>
                                    <p class="text-muted">Administrar y ver a participantes</p>
                                    <p class="text-muted">Compartir tu pantalla, compartir una ventana, compartir una pestaña</p>
                                    <p class="text-muted">Compartir audio</p>
                                    <p class="text-muted">Moderar la videollamada y opciones de seguridad</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Módulo 4</h4>
                                    <h4 class="subheading">Maestro generador de contenido</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><strong>Genera</strong> contenido propio que podrás reutilizar e instrumentos de evaluación automáticos.</p>
                                    <p><em>Duración: 3 horas</em></p>
                                    <br>
                                    <p class="text-muted">Herramientas para captura y anotación de pantalla</p>
                                    <p class="text-muted">Grabación de pantalla</p>
                                    <p class="text-muted">Publicación de videos</p>
                                    <p class="text-muted">Formularios tipo examen</p>
                                    <p class="text-muted">Secciones, imágenes, videos</p>
                                    <p class="text-muted">Configuraciones óptimas para exámenes</p>
                                    <p class="text-muted">Recomendaciones para minimizar las horas de trabajo para producir formularios</p>
                                </div>
                            </div>
                        </li>
                        {% comment %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </section>