<!-- Clients Aside -->
    <aside id="precios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Precios</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Por módulo</h3>
                </div>
                <div class="col-md-4">
                    <h3>Todos los módulos</h3>
                </div>
                <div class="col-md-4">
                    <h3>Paquete para grupos</h3>
                </div>
              </div>
        </div>
    </aside>