<!-- Clients Aside -->
    <section id="precios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Precios</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Por módulo</h3>
                    <h2>$ 486.00</h2>
                    <ul>
                        <li>Elige el módulo que deseas cursar.</li>
                        <li>Certificado digital</li>
                        <li>Constancia DC-3 (opcional)</li>
                    </ul>
                    <button type="button" class="btn btn-default btn-lg">Agendar</button>
                </div>
                <div class="col-md-4">
                    <h3>Todos los módulos</h3>
                    <h2>$ 1,555.20</h2>
                    <ul>
                        <li><strong>Ahorra el 20%</strong></li>
                        <li>Todos los módulos</li>
                        <li>Certificado digital</li>
                        <li>Constancia DC-3 (opcional)</li>
                    </ul>
                    <button type="button" class="btn btn-primary btn-lg">¡Lo quiero!</button>
                </div>
                <div class="col-md-4">
                    <h3>Paquete para grupos</h3>
                    <h2>$ 4,374.00</h2>
                    <ul>
                        <li>Ahorran el 25%</li>
                        <li>Todos los módulos</li>
                        <li>Para 4 asistentes</li>
                        <li>Certificado digital</li>
                        <li>Constancia DC-3 (opcional)</li>
                    </ul>
                    <button type="button" class="btn btn-default btn-lg">Agendar</button>
                </div>
              </div>
        </div>
    </section>