<!-- Clients Aside -->
    <section id="precios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Precios</h2>
                    <h3 class="section-subheading text-muted">Todos los precios están dirigidos a personas físicas y son expresados en Pesos Mexicanos, e incluyen IVA. ¿Eres persona moral y te interesan nuestros servicios? <a href="https://wa.me/526869462551">¡Pide un presupuesto!</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">Elige un módulo</h3>
                    <h2 class="text-center">$ 486.00</h2>
                    <p class="text-center">
                        Precio regular<br>
                        Certificado digital<br>
                        Constancia DC-3 (opcional)
                    </p>
                    <p class="text-center"><a href="https://wa.me/526869462551/?text=Me%20interesa%20un%20m%C3%B3dulo%20de%20S%C3%BAper%20Profe" type="button" class="btn btn-default btn-lg">Solicitar un módulo</a></p>
                </div>
                <div class="col-md-4" id="popular">
                    <h3 class="text-center">Todos los módulos</h3>
                    <h2 class="text-center">$ 1,555.20</h2>
                    <p class="text-center">
                        <strong>Ahorra el 20%</strong><br>
                        Todos los módulos<br>
                        Certificado digital<br>
                        Constancia DC-3 (opcional)
                    </p>
                    <p class="text-center"><a href="https://wa.me/526869462551/?text=Me%20interesa%20el%20curso%20completo%20S%C3%BAper%20Profe" type="button" class="btn btn-primary btn-lg">¡Lo quiero!</a></p>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Paquete para grupos</h3>
                    <h2 class="text-center">$ 5,832.00</h2>
                    <p class="text-center">
                        <strong>Ahorran el 25%</strong><br>
                        Todos los módulos<br>
                        Para 4 asistentes<br>
                        Certificado digital<br>
                        Constancia DC-3 (opcional)
                    </p>
                    <p class="text-center"><a href="https://wa.me/526869462551/?text=Nos%20interesa%20el%20curso%20S%C3%BAper%20Profe%20para%20un%20grupo" type="button" class="btn btn-default btn-lg">Agendar un grupo</a></p>
                </div>
              </div>
        </div>
    </section>