<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logo-claro.svg" width="80"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#curso">¿Qué aprenderás?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Beneficios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#modulos">Módulos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#precios">Precios</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <!--
            <div class="intro-text">
                <div class="intro-lead-in">¡Tienes una actualización disponible!</div>
                <div class="intro-heading">Prepárate para ser Súper Profe</div>
            </div>
                -->
                <br><br><br><br><br>
                <style>.embedtool {position: relative;height: 0;padding-top: 80%;overflow: hidden;max-width: 80%;} .embedtool iframe, .embedtool object, .embedtool embed { position: absolute; top: 0; left: 0; width: 80%; height: 80%; } .embedtool .fluid-vids {position: initial !important}</style><div class="embedtool"><iframe src="https://www.youtube.com/embed/DbvZwxZb7GU" frameborder="0" allowfullscreen controls="0" modestbranding="1" rel="0"></iframe></div>
                <a href="https://wa.me/526869462551" class="btn btn-xl">¡Aparta tu lugar!</a>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

