<!-- Services Section -->
    <section id="curso">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre el curso</h2>
                    <h3 class="section-subheading text-muted">¿Cómo te beneficiará este curso?</h3>
                </div>
            </div>

            <div class="row text-center">
                <style>.embedtool {position: relative;height: 0;padding-top: 56%;overflow: hidden;max-width: 100%;} .embedtool iframe, .embedtool object, .embedtool embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } .embedtool .fluid-vids {position: initial !important}</style><div class="embedtool"><iframe src="https://www.youtube.com/embed/DbvZwxZb7GU" frameborder="0" allowfullscreen></iframe></div>
            </div>

            {% comment %}
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inistrucción personalizada</h4>
                    <p class="text-muted">Técnicas de aprendizaje adaptadas para cada estudiante. Nos esforzamos por proporcionar los mismos contenidos para una variedad de estilos de aprendizaje.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Soporte</h4>
                    <p class="text-muted">Contínua recibiendo ayuda si la necesitas durante y después de tus capacitaciones. Atendemos tus preguntas por correo o mensaje sin necesidad de que estés activo en algún curso.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Amplia experiencia</h4>
                    <p class="text-muted">Contamos con el respaldo de más de 15 años de experiencia capacitando y educando a miles de personas, desde los 10 hasta +60 años de edad.</p>
                </div>
            </div>
            {% comment %}

        </div>
    </section>